*~
aclocal.m4
autom4te.cache/
*.bak
blib/
compile
config.h
config.h.in
config.status
configure
configure.in
*.deb
debian/autoreconf.after
debian/autoreconf.before
depcomp
*.ERR
install-sh
*.log
Makefile
Makefile.in
Makefile.old
missing
MYMETA.json
MYMETA.yml
*.o
pm_to_blib
src/.deps/
src/gcptr
stamp-h1
*.swp
*.tdy
env
env.pl
*.buildinfo
*.changes
